*.npz
data/*
figures/*
images/*
notebook_scripts/*.ipynb
notebook_scripts/.ipynb_checkpoints/*
util/__pycache__/*
.DS_Store
*.npy
f_plot*.py
util/al_util_clean.py
datasets/__pycache__/
*_old.py
__pycache__/
plotting_script.py
results/*
util/acquisition_batch_new.py
*.png
pos_neg_plot.py
.pdf
